/*本文のレイアウト指定*/
body{
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 50px;
  color: #4f4f4f;
  font-family: 'ヒラギノ角ゴ Pro W3';
}

 h1 {
   font-size:300%;
   font-family: 'Futura', 'Helvetica', 'Arial';
   color: #000000;
 }

 a {
   text-decoration: none;
   color: #1e90ff;
 }
 a:hover {
   background-color: #1e90ff;
   color: #ffffff;
 }
img{
  width:100%;
}
div {
  margin-top:30px;
}
hr {
  margin-top:50px;
  margin-bottom:30px;
}

button {
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #1e90ff;
  color: #fff;
  padding: 8px 16px;
  font-size: 16px;
}
button:hover {
  opacity: 0.8;
}